<!DOCTYPE html>
<html lang="en">

<%- include("./comps/head") %>

<body>

  <%- include("./comps/navbar") %>

  <%- include("./comps/dashboard") %>

  <%- include("./comps/scriptsMat.ejs") %>

</body>

</html>