<!DOCTYPE html>
<html lang="en">

<%- include("./comps/head") %>

<body>

  <%- include("./comps/navbar") %>

  <div class="container login-container">
    <div class="card">
      <div class="card-content">
        <%- include("./stories/add.ejs") %>
      </div>
    </div>
  </div>


  <%- include("./comps/scriptsMat.ejs") %>

</body>

</html>