<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Materialize CDN -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- FontAwesome Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/imgs/StoryBooks.ico" type="image/x-icon">

  <!-- og's Meta -->
  <meta property="og:title" content="StoryBooks - Crea tu propia historia" />
  <meta property="og:description" content="Aquí podrás crear tu propia historia, dejarla para que la vean los demás o bien usarlo como diario personal ya que también podrás tener la historia que quieras como privada. A su vez también podrás ver todas las historias que los demás quieran compartir" />
  <meta property="og:url" content="https://historiaspersonales.herokuapp.com/">
  <meta name="image" property="og:image" content="https://res.cloudinary.com/ramiropezzone/image/upload/v1651161614/vista-min-story-books_si00uu.png">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="600" />

  <!-- Hoja de estilo propia -->
  <link rel="stylesheet" href="/css/style.css">

  <title>StoryBooks</title>
</head>